.emailBtn {
  display: inline-block;
  text-align: center;
  margin: 10px 0px 10px 0px;

  > a {
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: white;
    background-color: #181818;
    @media (max-width: 375px) {
      padding: 10px 5px;
    }

    span:first-child {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px 5px 0px 0px;

      .image {
        border-radius: 50%;
        width: 18px;
        height: 18px;
        background-color: white;
        border: 0;
        overflow: hidden;
      }
    }

    span:last-child {
      font-size: 18px;
      @media (max-width: 375px) {
        font-size: 12px;
      }
    }

  }
}